Workflows/LE6kndGwgeYSWD3i.json
{
  "createdAt": "2025-10-04T07:15:38.229Z",
  "updatedAt": "2025-10-04T07:37:43.000Z",
  "id": "LE6kndGwgeYSWD3i",
  "name": "2-10.RSS商周文章訂閱",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "feedUrl": "https://cmsapi.businessweekly.com.tw/?CategoryId=24612ec9-2ac5-4e1f-ab04-310879f89b33&TemplateId=8E19CF43-50E5-4093-B72D-70A912962D55"
      },
      "type": "n8n-nodes-base.rssFeedReadTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c9fe980c-ea3e-4608-b9de-ce16e88e21e1",
      "name": "RSS Feed Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2e32f0f8-a159-46db-8d7c-67796f2a1181",
              "name": "creator",
              "value": "={{ $json.creator }}",
              "type": "string"
            },
            {
              "id": "dddad132-48d7-4c22-8cc1-3cda2e1732c7",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "f506daa6-d601-428b-9af8-98626f1c0984",
              "name": "link",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "1e5e395c-f3c0-458e-a891-538243a1a01c",
              "name": "pubDate",
              "value": "={{ $json.pubDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "d46e939d-d4a9-48ae-a59a-1356d70cd8f0",
      "name": "Get Info"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        0
      ],
      "id": "ebf83547-fc97-4eca-b52b-e4f5b5f707ef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "title",
              "cssSelector": ".Single-title-main"
            },
            {
              "key": "content",
              "cssSelector": ".Single-article.WebContent"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        624,
        0
      ],
      "id": "026d201d-ede8-465d-a38e-69a0b8d16731",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        832,
        0
      ],
      "id": "b641ec26-65f6-4883-a698-ec3ec4f378d2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/your/path/to/rss.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1040,
        0
      ],
      "id": "bf2609a2-97c6-4845-bb09-52cf15e968e9",
      "name": "Read/Write Files from Disk"
    }
  ],
  "connections": {
    "RSS Feed Trigger": {
      "main": [
        [
          {
            "node": "Get Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Info": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:RSS Feed Trigger": {
      "lastItemDate": "2025-10-03T17:01:08.000Z"
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "ce0d7f8b-eab0-4f99-88da-4df6b67637c0",
  "triggerCount": 1,
  "tags": []
}